/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

/* -----------------------NAVBAR---------------------------------- */
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.cart-button {
  background-color: #777 !important;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  position: relative; /* Ensure position relative for absolute positioning */
  font-size: 18px; /* Adjust icon size if needed */
  border-radius: 50px;
}

.cart-button i {
  position: relative; /* Ensure position relative for icon */
}

nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left:10px;
}
.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff3f3f;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
/* -----------------------END NAVBAR---------------------------------- */




/* -----------------------Login and Signup---------------------------------- */
label, input {
  display: block;
}
input {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
input:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* .error {
  border: 1px solid var(--error);
} */

form.signup, form.login {
  width: 400px;
  background: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background for better readability */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-page, .signup-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/bg-landing2.jpg'); /* Adjust the path if necessary */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.create-account-btn {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  background-color: #333;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-bottom: 5px;
}

.login-account-btn {
  text-align: center; /* Center-align the content */
  margin-top: 20px;
  font-size: 12px;
}

.login-account-btn p {
  color: #777; /* Grayish color for the paragraph text */
}

.login-account-btn a {
  color: #007bff; /* Link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth transition for color change */
}

.login-account-btn a:hover {
  color: #0056b3; /* Change color on hover */
}

.login-account-btn a span {
  text-decoration: none; /* Remove underline for the span */
}
/* ----------------------- END Login and Signup---------------------------------- */



/* ---------------------------Meals ---------------------------------------------*/
#meals {
  width: 90%;
  max-width: 70rem;
  list-style: none;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); 
  gap: 1rem;
}

.meal-item {
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.meal-item article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meal-item img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.meal-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0;
  color: #212129;
}

.meal-item-description {
  margin: 1rem;
  color: #212129;
}

.meal-item-price {
  display: inline-block;
  background-color: #312c1d;
  color: #ffc404;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 4px;
}

.meal-item-actions {
  margin-bottom: 1.5rem;
}
/* ---------------------------END Meals ---------------------------------------------*/

/* --------------------------- button ---------------------------*/
.button {
  font: inherit;
  cursor: pointer;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.button:hover,
.button:active {
  background-color: #17BEBB;
  border-color: #17BEBB;
  transition: 250ms;
  color: #fff;
}

.text-button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  /* color: #ffc404; */
}

/* .text-button:hover,
.text-button:active {
  color: #ffab04;
} */


/* --------------------------- END button ---------------------------*/


/*--------------------------- modal --------------------------- */
.modal {
  background-color: #e4ddd4;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  width: 80%;
  max-width: 40rem;
  animation: fade-slide-up 0.3s ease-out forwards;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*---------------------------END  modal --------------------------- */



/*--------------------------- CART --------------------------- */
.cart h2 {
  margin: 1rem 0;
}

.cart ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}


.cart-total {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
  font-size: 1.15rem;
  font-weight: bold;
  color: #46443c;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-header p {
  font-weight: bolder;
}

.cart-description{
  color: #333;
  font-weight: bold;
}

.cart-item, .cart-description  {
  display: grid;
  grid-template-columns: 240px 100px 100px 100px;
  gap:30px; /* Optional: Adds spacing between the columns */
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}

.total-header, .total-col {
  margin-left: 60px !important;
}

.cart-item p {
  margin: 0;
}

.cart-item-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart-item-actions button {
  cursor: pointer;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: #312c1d;
  color: #ffc404;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-actions button:hover,
.cart-item-actions button:active {
  background-color: #1d1a16;
  color: #ffab04;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.modal-actions .text-button {
  color: #1d1a16;
}

.modal-actions .text-button:hover,
.modal-actions .text-button:active {
  color: #312c1d;
}

.cart-img {
  width: 40px;
  height: 40px;
}

.cart-img-container {
  margin-right: 10px;
}

.cart-prod-desc-container {
  display: flex;
  align-items: center;
}

/*--------------------------- END CART --------------------------- */